[submodule "PolyDock/ThirdParty/entt"]
	path = PolyDock/ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "PolyDock/ThirdParty/gsl"]
	path = PolyDock/ThirdParty/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "PolyDock/ThirdParty/gtest"]
	path = PolyDock/ThirdParty/gtest
	url = https://github.com/google/googletest.git
[submodule "PolyDock/ThirdParty/eigen"]
	path = PolyDock/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
