name: CI
# This workflow is triggered on pushes to the repository.
on: [push, pull_request]

jobs:
  ci:
   runs-on: ${{ matrix.os }}
   
   strategy:
    matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest] ## add different compilers

   steps:
   - name: Install Dependencies (Linux)
     run: |
          sudo apt-get update
          sudo apt-get install -y -qq software-properties-common gcc g++ cmake mesa-common-dev libgl1-mesa-dev
     if: matrix.os == 'ubuntu-latest'    
   - name: Install Dependencies (macOS)
     run: |
          brew update && brew install pkgconfig cmake
     if: matrix.os == 'macOS-latest'     
   - name: Install Dependencies (Windows)
     run: |
          choco install pkgconfiglite cmake
     if: matrix.os == 'windows-latest'
   - name: Install Qt
     uses: jurplel/install-qt-action@v2
   - name: Get Sources
     uses: actions/checkout@v2
     with:
       submodules: 'true'        
   - name: Setup CMake
     run: |
        ls ${{ runner.workspace }}
        mkdir "${{ runner.workspace }}/PolyDock/Build" 
        cd "${{ runner.workspace }}/PolyDock/Build" 
        cmake ../PolyDock
     shell: bash
   - name: Build
     run: cmake --build .
     working-directory: ${{ runner.workspace }}/Build     
   - name: Test
     run: ./Tests
     working-directory: ${{ runner.workspace }}/Dist    
   - name: Check with clang-tidy
     uses: muxee/clang-tidy-action@0.0.1-rc1
